body {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}

h1 {
  color: #333;  
}

ul {
    list-style: none;
    padding: 0;
}

li{
    background: white;
    margin: 5px auto;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
}

h1 {
    font-size: 48px;
}

h2 {
    margin-top: 50px;
}

li:hover {
    transform: scale(1.05);
}